/IPC_FXMLCore-master — kopia/nbproject/private/
/IPC_FXML_Practica2/IPC_FXML_Practica2/nbproject/private/
/IPC_FXML_Practica2/nbproject/private/
/IPC_FXML_Practica2/build/
/Practica2_moving_dot/nbproject/private/
/Practica2_moving_dot/build/
/Practica2_converter/nbproject/private/
/Practica2_converter/build/
